<section id="reviewDrinkModal" class="modal">
  <div class="modal-content">
    <span class="closeAdd">&times;</span>

    <h2>Review</h2>

    <form class="add-review-form">
      <div class="form-group">
        <label for="rating-select">Rating</label>
        <select id="rating-select" name="rating-select">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="review">Write your review:</label>
        <input type="text" id="review" name="review" placeholder="Optional">
      </div>
      <div class="form-group">
        <button class="btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
</section>