DB_NAME='caffeine_db'
DB_USER='root'
DB_PASSWORD=''
SECRET=`There is something going on on the big toe toenail of my left foot. There is a dark mass in the center of the toenail. Now, when I first saw it, I thought I must have smashed my toe, and then somehow forgot I'd ever done that, and I assumed that it would grow out in time.. No sir. I've been clippin that bad boy at least three years, and it is still in the center of the toenail, and darker than when I first saw it.. My wife, Lynze, thinks it's a fungal situation, and she has encouraged me to get medical attention, and I-I do want that, I just.. I've just become very anxious about the possibility of the doctor and the nurse looking at my toe, stepping out, and having quite a giggle at my expense.. And I just putting it off and it just keeps getting worse. I have trapped myself in a prison of shame..`