<!DOCTYPE html>
<html lang="en">

<head>
  <title>Add Beverage - Caf-fiend</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/public/css/jass.css">
</head>

<body>
  <header>
    <h1>Caf-fiend</h1>
  </header>

  <main>
    <section class="add-beverage">
      <h2>Add Beverage</h2>

      <label>Beverage Name:</label>
      <input type="text" id="beverageName" name="beverage" required>
      
      <label>Beverage Type:</label>
      <input type="text" id="beverageType" name="bev_type" required>
      
      <a href="/api/beverages">Add Beverage</a>
    </section>
  </main>

  <footer>
    <p>&copy; Caf-fiend. All rights reserved.</p>
  </footer>
</body>

</html>
