<section class="add-beverage">
  <h2>Add Beverage</h2>

  <label>Beverage Name:</label>
  <input type="text" id="beverageName" name="beverage" required>

  <label>Beverage Type:</label>
  <input type="text" id="beverageType" name="bev_type" required>

  <a href="/api/beverages">Add Beverage</a>
</section>
