 <!DOCTYPE html>
<html lang="en">

<head>
  <title>Drinks - Caf-fiend</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/public/css/jass.css">
</head>

<body>
    <header>
        <h1>Caf-fiend</h1>
    </header>
    <main>

    <section class="full-drink-list">
        <h2>Caf-fiend's Full List of Drinks</h2>
    <ul class="drink-list">
        {{#each drinks as |drink|}}
       <li>
        <h3>{{drink.beverage}}</h3>
        <h4>{{drink.bev_type}}</h4>
           {{#if loggedIn}}
           <a href="/api/beverages/{{beverage.id}}">Edit Existing Beverages</a>
           <a href="/api/beverages">Add a New Beverage</a>
            {{/if}}
       </li>        
        {{/each}}
    </ul>
    </section>    

    </main>
</body>
</html>