<section class="homepage">
    <div class="welcome">
        <h1>Welcome to Caf-Fiend!</h1>
        <h2>Your home for all things caffeine!</h2>
    </div>

    <div class="welcome-back">
        {{#if logged_in}}
        <h3>Welcome back! Below, you can see all of the drinks that have been added to our database, and you can find all the drinks you've added or rated/reviewed on your dashboard!</h3>
        {{else}}
        <h3>You may view any of the drinks that have been added to our database and rated/reviewed, but you must <a href="/login">log in or create an account</a> to add any drinks to our database or add your own ratings/reviews.</h3>
        {{/if}}
    </div>
    <div class="drinks-list">
        {{#each drinks as |drink|}}
        {{> drink-deets}}
        {{/each}}
    </div>
</section>

{{> review-modal}}

<script src="/js/reviewDrink.js"></script>
        
        



{{!-- <div class="redirect-card">
    <div class="redirect-card-header"><h1>Welcome to Caf-Fiend</h1></div>
        <button id="login-btn" class="btn">Log In</button>
        <h3> or </h3>
        <button id="create-account-btn" class="btn"> Create Account </button>
</div> --}}

