    <section class="manage-beverages">
      <h2>Edit Beverage</h2>

      <label>Beverage Name: {{beverage.beverage}}</label>
      <br>
      <label>Beverage Type: {{beverage.bev_type}}</label>
      <br>
      <a href="/api/beverages/{{beverage.id}}">Update</a>
    </section>